@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
        <img  src="~/images/logonatillera.png" style="width:400px"/>
</div>

<script>
      let home = document.getElementById("home");
        let td = document.getElementById("td");
        let tc = document.getElementById("tc");
        let ta = document.getElementById("ta");
        let tp = document.getElementById("tp");
        let user = document.getElementById("user");
    home.classList.add('active');
        tc.classList.remove('active');
        td.classList.remove('active');
        ta.classList.remove('active');
         tp.classList.remove('active');
        user.classList.remove('active');
</script>
